{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>


   <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>


    <script type="text/javascript" src="{% static "js/placeholders.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment-with-locales.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dr.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dtime.js" %}"></script>
    <script type="text/javascript" src="{% static "js/js.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/order_me.js" %}"></script>

    <script type="text/javascript" src="{% static "js/sender.js" %}"></script>

    <script>

        var package_prices = {};
        var shipment_price = 20;
        var name_hint = 'Numele și prenumele tău';
        var phone_hint = 'Nr. tău de telefon (Te sunăm noi!)';

        $(document).ready(function() {




            moment.locale("ro");
            $('.day-before').text(moment().subtract(1, 'day').format('D.MM.YYYY'));
            $('.day-after').text(moment().add(1, 'day').format('D.MM.YYYY'));

        });
    </script>
    <link type="text/css" href="public/css/order_me.css" rel="stylesheet" media="all">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Ochelari De Condus - Set Complet - Pentru Zi/Noapte!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <script src="{% static "js/jquery_003.js" %}"></script>
    <link href="{% static "css/css.css" %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <script type="text/javascript" src="{% static "js/jquery_002.js" %}"></script>
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
    <script type="text/javascript" src="{% static "js/scroll.js" %}"></script>
    <script src="{% static "js/jcarousel.js" %}"></script>
    <script src="{% static "js/slider.js" %}"></script>
    <script src="{% static "js/modernizr-2.js" %}"></script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99601839-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>
  <body>


  <header class="header">
    <div class="container clearfix for_scroll">
      <a href="#" class="logo text-hide">OchelariDeCondus.COM</a>
      <ul class="nav-menu clearfix">
        <li class="nav-menu-item"><a href="#go_avantaje">Descoperă avantajele</a></li>
        <li class="nav-menu-item"><a href="#go_instructiuni" data-goto=".section-properties">Instrucțiuni</a></li>
        <li class="nav-menu-item"><a href="#go_clienti" data-goto=".section-instructions">Părerea clienților</a></li>
        <li style="float:right; margin:13px 0px 0px 50px;color:#fdf401">COMENZI TELEFONICE: 0785 287 496</li>
      </ul>
      <a href="#go_form" class="btn btn-header" data-goto=".section-order">Comandă</a>
    </div>
  </header> <!-- / .header -->

  <main class="wrap">
    <div class="container">
      <div class="section" style="background:#fff;padding:20px;min-height:1400px;"><br /><br />
        <h1 style="color:#000">Termeni si Conditii</h1>


  Prezentul document prin continutul sau pune la dispozitia tertilor utilizatori Regulamentul privind termenii si conditiile de utilizare a site-ului <b>OchelariDeCondus.COM</b><p></p>
<p>Utilizarea site-ului (incluzand accesul, navigarea si cumpararea produselor de pe acest site) constituie un acord implicit de respectare a termenilor si conditiilor enuntate in cuprinsul prezentului document cu toate efectele si consecintele ce decurg din aceasta.</p>
<p>Administratorul site-ului <b>OchelariDeCondus.COM</b> isi rezerva dreptul de a modifica in orice moment continutul acestui acord, fara notificarea prealabila a persoanelor care il utilizeaza, denumite in continuare „Utilizatori”. Utilizatorii vor avea acces permanent la termenii si conditiile de utilizare a serviciilor, pentru a le putea consulta in orice moment.</p>
<br />
<p><b>Continutul site-ului si drepturile de proprietate intelectuala</b></p>
<p>Continutul acestui site nu poate fi utilizat, reprodus, distribuit, transmis, expus, in alte scopuri decat cele expres si legal permise. Extragerea oricaror informatii urmata de orice utilizare in scop comercial care depaseste sfera copiei private reglementate de lege sau pentru vanzare ori licentiere si fara a avea in prealabil un consimtamant scris al titularilor drepturilor de proprietate constituie o incalcare a termenilor si conditiilor.</p>
<p>Sunteti de asemenea de acord sa nu afectati si interferati in vreun fel cu elementele de securitate ale site-ului, cu elementele care previn sau restrictioneaza utilizarea, copierea unui continut sau elemente care intaresc limitele de utilizare a siteului sau a continutului acestuia.</p>

<br />


<p><b>Dreptul consumatorilor de denuntare unilaterala a contractului</b></p>
<p>Va rugam sa va asigurati ca ati verificat specificatiile produsului si compatibilitatea acestuia prin vizitarea paginii producatorului inainte de a-l cumpara. Raporturile comerciale dintre cumparator si <b>OchelariDeCondus.COM</b> sunt reglementate oficial de Ordonanta Guvernului 130/2000, privind protectia consumatorilor la incheierea si executarea contractelor la distanta.</p>
<p><b>Consumatorul are dreptul sa notifice in scris comerciantului ca renunta la cumparare, fara penalitati si fara invocarea unui motiv, in termen de 10 zile lucratoare de la primirea produsului cu conditia ca produsul sa respecte termenii si conditiile de returnare.</b></p>
<p>Administratorul <b>OchelariDeCondus.COM</b> face eforturi permanente pentru a pastra acuratetea informatiilor de pe site, insa uneori acestea pot contine inadvertente (specificatiile sau pretul produselor modificate de catre producator fara preaviz sau viciate de erori de operare). Atentie: fotografiiile au caracter informativ si pot contine accesorii care nu sunt incluse in pachetele standard.</p>
<br />


<p><b>Frauda</b></p>
<p>In scopul accesarii si utilizarii anumitor sectiuni ale website-ului poate fi necesara crearea unui cont personal. Prin prezenta declarati ca va asumati integral responsabilitatea pentru toate si oricare dintre activitatile realizate prin intermediul contului pe care il deschideti pe website si, in consecinta, va sfatuim sa asigurati securitatea parolei contului sau a altor date de acces. In cazul in care securitatea contului pe care il detineti este compromisa, trebuie sa anuntati imediat administratorul site-ului. <b>OchelariDeCondus.COM</b> nu este responsabil pentru daunele care va sunt cauzate sau care sunt cauzate tertilor de orice fel, prin utilizarea neautorizata a contului.</p>
<br />
<p><b>Drept aplicabil</b></p>
<p>Prin folosirea site-ului <b>OchelariDeCondus.COM</b>, utilizatorul se declara de acord asupra faptului ca legile romane vor guverna Termenii si conditiile de utilizare si orice disputa de orice fel care ar putea sa apara intre utilizatori si <b>administratorii OchelariDeCondus.COM</b> sau asociatii/partenerii/afiliatii acestuia. In cazul unor eventuale conflicte se va incerca mai intai rezolvarea acestora pe cale amiabila, iar daca rezolvarea pe cale amiabila nu va fi posibila, conflictul va fi solutionat in instanta, in conformitate cu legile romane in vigoare.</p>
<br />
<p><b>Disponibilitatea serviciului</b></p>
<p>Administratorul <b>OchelariDeCondus.COM</b> isi rezerva dreptul de a modifica structura si interfata oricarei pagini sau subpagini a site-ului <b>OchelariDeCondus.COM</b> in orice moment si la orice interval de timp liber ales, avand dreptul de a intrerupe temporar sau permanent, partial sau in totalitate serviciile puse la dispozitia publicului prin intermediul acestui website fara vreo notificare prealabila individuala sau generala.</p>
<br />
<p><b>Exonerarea de raspundere</b></p>
<p>OchelariDeCondus.COM nu garanteaza ca site-ul, serverele pe care este gazduit sau e-mailurile trimise de la OchelariDeCondus.COM nu contin virusi sau alte componente informatice cu caracter potential daunator, ca nu contine erori, omisiuni, defectiuni, intarzieri sau intreruperi in operare sau transmitere, caderi de linie sau orice alti factori similari. Utilizatorul foloseste site-ul pe riscul propriu, OchelariDeCondus.COM fiind liber de orice raspundere pentru eventualele daune directe sau indirecte cauzate de utilizarea sau accesarea/vizitarea site-ului sau ca urmare a utilizarii informatiilor de pe site. OchelariDeCondus.COM nu este raspunzatoare de erorile sau omisiunile care pot interveni in redactarea sau prezentarea materialelor de pe site.</p>

<p><b>OchelariDeCondus.COM isi rezerva dreptul de a anula comenzile</b> pentru produse si servicii care sunt afisate pe site ca urmare a unor erori tehnice, sau care, din cauza unor<b> erori tehnice prezinta preturi evident eronate/derizorii pentru produse<b>.</b></b></p><b><b>
<br><br><br>
<p>Daca aveti intrebari sau nelamuriri in legatura cu acesti termeni de utilizare, nu ezitati sa ne contactati prin intermediul numarului de telefon <strong>0786 277 915, </strong>adresa de email<strong> contact(at)OchelariDeCondus.COM </strong>.</p></b></b>



      </div>

    <div class="footer_links">
        <a href="/termeni">Termeni si Conditii</a> |
        <a href="/confidentialitate">Confidentialitate</a> |
        <a href="/contact">Contact</a>
    </div>
  </body>
</html>