<div class="container">
    <div class="section" style="background:#fff;height:940px;"><br><br>
      <h1 align="center" style="color:#000">VĂ MULȚUMIM PENTRU COMANDĂ</h1>
       <p style="text-align:center;font-size:19px;">În cel mai scurt timp te vom contacta telefonic pentru confirmarea comenzii. Acest lucru este necesar pentru a ne asigura că ești o persoană reală. Așadar, te rugăm să răspunzi la telefon astăzi sau mâine (luni, dacă ai efectuat comanda în weekend).</p>

      <p style="text-align:center;font-size:19px;">După confirmarea comenzii, coletul va fii expediat prin curier, iar plata se va face la ridicarea coletului (în sistem ramburs).</p>
      <br>
      
      <h3 align="center">Rezumat Comanda:</h3>
  <table width="60%" border="1" cellpadding="9" cellspacing="0" align="center">
  <tbody><tr>
    <th align="left">Produs</th>
    <th align="right">Pret</th>
  </tr>
  <tr>
    <td align="left">Set Ochelari De Condus</td>
    <td align="right">99 RON <span style="text-decoration: line-through;color:#ccc">198 RON</span></td>
  </tr>
  
  <tr>
    <td align="left">Transport</td>
    <td align="right">INCLUS</td>
  </tr> 

  <tr>
    <td align="left"><b>Total de plata</b></td>
    <td align="right"><b>99 RON</b></td>
  </tr>

  </tbody></table>
           <h1 align="center" style="color:#000">Total de plata: 99 RON</h1>

      


      </div>



     
      </div>